/* Estilos del contenedor principal para logo, título y categorías */
.main-container {
    text-align: left; /* Alinea el contenido a la izquierda */
    max-width: 1000px; /* Máximo ancho para asegurar consistencia con .categorias-container */
    margin: 0 auto; /* Centra el contenedor principal */
    padding: 15px; /* Espaciado alrededor del contenido */
}

.logo-container {
    text-align: center; /* Mantiene el logo centrado */
    margin: 20px 0; /* Espacio arriba y abajo */
    padding: 10px;
    font-size: 2em;
    color: #ffffff;
    font-weight: bold;
}

.categorias-titulo {
    margin: 10px 0 5px; /* Espaciado reducido encima del título y entre título y categorías */
    font-size: 24px;
    color: #ba8686;
    font-weight: bold;
}

.categorias-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    grid-gap: 10px;
    margin: 0; /* Remueve el margen automático para evitar centrado */
}

.categoria-item {
    background-color: #ffffff;
    border: 10px solid #fff6b3;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-height: 60px;
}

.categoria-item:first-child {
    grid-column: 1 / -1; /* El primer elemento ocupa ambas columnas */
}

.categoria-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.categoria-item {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
