/* ComidaList.css */
.comidas-container {
    padding: 20px;
}

.plato-titulo {
    color: #ffffff; /* Color de letra blanca */
    text-align: left; /* Alineación a la izquierda */
    margin: 20px 0 20px; /* Espaciado arriba y abajo para separación con otros elementos */
    font-size: 3.5em; /* Tamaño de letra adecuado */
}



.comidas-container {
    padding: 20px;
}

.categoria-imagen-container {
    background-color: #e0e0e0; /* Color de fondo para simular la imagen */
    height: 300px; /* Altura del contenedor de la imagen de la categoría */
    display: flex; /* Para centrar el texto dentro del contenedor */
    align-items: center; /* Centra el texto verticalmente */
    justify-content: center; /* Centra el texto horizontalmente */
    margin: 0 0 70px 0; /* Solo margen inferior */
    border-radius: 10px; /* Bordes redondeados para consistencia */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    font-size: 24px; /* Tamaño de fuente para el texto */
    font-weight: bold; /* Peso de la fuente */
    color: #555; /* Color del texto */
}




.comidas-lista {
    display: grid;
    grid-template-columns: 1fr; /* 1 columna */
    grid-gap: 20px;
}



.comidas-lista {
    display: grid;
    grid-template-columns: 1fr; /* 1 columna */
    grid-gap: 20px;
}

.comida-item {
    display: flex; /* Usa flexbox para organizar los contenidos en filas */
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.comida-info, .comida-imagen {
    flex: 1; /* Asigna igual espacio a ambos divs dentro del .comida-item */
    text-align: left;
}

.comida-nombre, .comida-precio {
    margin-bottom: 10px;
}

.comida-nombre {
    font-size: 18px;
    font-weight: bold;
}

.comida-precio {
    font-size: 16px;
    font-weight: bold;
    color: #4CAF50;
}

.comida-imagen {
    text-align: center; /* Centra el texto "Imagen" */
    display: flex;
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente */
    font-weight: bold;
}
