/* ComidaDetalle.css */

.comida-detalle-swiper {
  width: 100%;
  height: 100vh;
}

.comida-detalle-slide .comida-detalle-video-simulado {
  background-color: #000;
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.comida-detalle-slide .comida-detalle-info {
  position: absolute;
  bottom: 10px;
  left: 10px;
  text-align: left;
  color: #fff;
}

.comida-detalle-slide .comida-detalle-info h2, 
.comida-detalle-slide .comida-detalle-info p {
  margin: 4px 0;
}

.comida-detalle-slide .comida-descripcion {
  max-width: 80%;  /* Limita el ancho del texto de descripción para mejorar la legibilidad */
  margin: 10px auto; /* Centrado y espaciado */
}
